#grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(35, 35, 35);
  gap: 3px;
  padding: 0 8px 8px;
}

#grid-container div {
  color: white;
  background-color: rgb(60, 60, 60);
}

#grid-container div:hover {
  border: none;
  background-color: rgb(50, 50, 50);
}

#grid-container div:active {
  border: none;
  background-color: rgb(42, 42, 42);
}

#clear {
  grid-column: 1 / span 2;
}

#equals {
  grid-row-end: span 2;
}

#zero {
  grid-column-start: span 2;
}