/* .App div {
  background-color: #232323;
} */

#grid-container div {
  color: white;
  /* background-color: rgb(60, 60, 60); */
  background-color: #1d1d1d;
}

#grid-container div:hover {
  border: none;
  background-color: rgb(50, 50, 50);
}

#grid-container div:active {
  border: none;
  background-color: rgb(42, 42, 42);
}

#clear {
  grid-column: 1 / span 2;
  color: #ec4274 !important;
}

#equals {
  grid-row-end: span 2;
  background-color: #98153c !important;
}

#equals:hover {
  background-color: #8f1237 !important;
}

#equals:active {
  background-color: #831133  !important;
}

#zero {
  grid-column-start: span 2;
}

#divide, #multiply, #subtract, #add {
  background-color: inherit !important;
  border: 2px solid #a52148;
  padding: 0px !important;
}

#divide:hover, #multiply:hover, #subtract:hover, #add:hover {
  background-color: rgb(45, 45, 45) !important;
  border: 2px solid #b3234f !important;
  padding: 0px !important;
}

#divide:active, #multiply:active, #subtract:active, #add:active {
  background-color: rgb(42, 42, 42) !important;
  border: none !important;
  padding: 0px !important;
}


.container1 {
  word-break: break-all;
}

.text-fit {
  font-size: clamp(14px, 3vw, 24px);
  text-align: right;
}

.icon-link {
  background-color: #1d1d1d;
  /* color: #ec4274; */
  color: rgb(233, 233, 233);
}